
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap.min.css" rel="stylesheet" />
}
<h2>Index</h2>

<div class="container-fluid">
    
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Departments</li>
        <li><a href="@Url.Action("ExportEmployees")" class="btn btn-primary"> Report Employees </a> </li>
        <li><a href="@Url.Action("ExportDepartments")" class="btn btn-danger"> Report Departments </a> </li>
    </ol>
    
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Departments
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" onclick="clearTextBox();">Add New Department</button><br />
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Department Name</th>
                            <th>Action</th>

                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Id</th>
                            <th>Department Name</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>
                    <tbody class="tbody"></tbody>
                </table>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title" id="myModalLabel">Add Department</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="CategoryId">ID</label>
                        <input type="text" class="form-control" id="ID" placeholder="Id" disabled="disabled" />
                    </div>
                    <div class="form-group">
                        <label for="Name">Name</label>
                        <input type="text" class="form-control" id="Name" placeholder="Name" />
                    </div>
                    <div class="form-group">
                        <label for="Manager_id">Manager_id</label>
                        <input type="number" class="form-control" id="Manager_id" placeholder="Manager_id" />
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnAdd" onclick="return Add();">Add</button>
                <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="Update();">Update</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable();
            loadData();
        });
        function loadData() {
            $.ajax({
                url: "/Departments/List",
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    console.log(result);
                    var html = '';
                    $.each(result, function (key, item) {
                        html += '<tr>';
                        html += '<td>' + item.Id + '</td>';
                        html += '<td>' + item.Name + '</td>';
                        html += '<td><a href="#" onclick="return getbyID(' + item.Id + ')">Edit</a> | <a href="#" onclick="Delele(' + item.Id + ')">Delete</a>  | <a href="#" onclick="Details(' + item.Id + ')">ViewDetails</a></td>';
                        html += '</tr>';
                    });
                    $('.tbody').html(html);
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }
        function Add() {
            var res = validate();
            if (res == false) {
                return false;
            }
            var deptObj = {
                Id: $('#ID').val(),
                Manager_id: $('#Manager_id').val(),
                Name: $('#Name').val()
               
            };
            $.ajax({
                url: "/Departments/Add",
                data: JSON.stringify(deptObj),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    loadData();
                    $('#myModal').modal('hide');
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }
        //Function for getting the Data Based upon Department ID
        function getbyID(DeptID) {
            $('#Name').css('border-color', 'lightgrey');

            $.ajax({
                url: "/Departments/getbyID/" + DeptID,
                typr: "GET",
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                success: function (result) {
                    $('#ID').val(result.Id);
                    $('#Name').val(result.Name);
                    $('#Manager_id').val(result.Manager_id);
                    $('#myModal').modal('show');
                    $('#btnUpdate').show();
                    $('#btnAdd').hide();
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
            return false;
        }
        //function for updating department's record
        function Update() {
            var res = validate();
            if (res == false) {
                return false;
            }
            var d = new Date(Date.now());
            var deptObj = {
                Id: $('#ID').val(),
                Name: $('#Name').val(),
                Manager_id: $('#Manager_id').val()
            };
            $.ajax({
                url: "/Departments/Update",
                data: JSON.stringify(deptObj),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    loadData();
                    $('#myModal').modal('hide');
                    $('#ID').val("");
                    $('#Name').val("");
                    $('#Manager_id').val("");
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }
        //function for deleting department's record
        function Delele(ID) {
            var ans = confirm("Are you sure you want to delete this Record?");
            if (ans) {
                $.ajax({
                    url: "/Departments/Delete/" + ID,
                    type: "POST",
                    contentType: "application/json;charset=UTF-8",
                    dataType: "json",
                    success: function (result) {
                        loadData();
                    },
                    error: function (errormessage) {
                        alert(errormessage.responseText);
                    }
                });
            }
        }
        function Details(id) {
            window.location.href = '/Employee/Index/' + id;

        }
        //Function for clearing the textboxes
        function clearTextBox() {
            $('#ID').val("");
            $('#Name').val("");

            $('#btnUpdate').hide();
            $('#btnAdd').show();
            $('#Name').css('border-color', 'lightgrey');
        }
        //Valdidation using jquery
        function validate() {
            var isValid = true;
            if ($('#Name').val().trim() == "") {
                $('#Name').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#Name').css('border-color', 'lightgrey');
            }
           
            return isValid;
        }

    </script>
}  